<div gdAreas="header header | content content | footer footer" gdGap="2%" gdRows="auto auto auto" fxFlexFill>
    <div gdArea="header" fxLayoutAlign="space-around center">
        <button mat-stroked-button value="name" [ngClass]="{'selected-btn': fieldSelected == 'name'}" (click)="onButtonClick($event.target.value)" [disabled]="buttonsDisabled">1</button>
        <button mat-stroked-button value="email" [ngClass]="{'selected-btn': fieldSelected == 'email'}" (click)="onButtonClick($event.target.value)" [disabled]="buttonsDisabled">2</button>
        <button mat-stroked-button value="phone" [ngClass]="{'selected-btn': fieldSelected == 'phone'}" (click)="onButtonClick($event.target.value)" [disabled]="buttonsDisabled">3</button>
    </div>
  <div gdArea="content">
    <form [formGroup]="group">
        <div *ngIf="!isSubmit" fxLayout="column" [ngSwitch]="fieldSelected" fxLayoutAlign="space-evenly center">
            <mat-form-field *ngSwitchCase="'name'">
                <input matInput placeholder="1. Name:" formControlName="name" (input)="onInputChange($event.target.value, fieldSelected)">
                <mat-error *ngIf="this.group.controls.name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'email'">
                <input matInput placeholder="2. Email:" formControlName="email" (input)="onInputChange($event.target.value, fieldSelected)">
                <mat-error *ngIf="this.group.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="this.group.controls.email.hasError('email')">
                  Email is <strong>Invalid</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'phone'">
                <input matInput placeholder="3. Phone:" formControlName="phone" (input)="onInputChange($event.target.value, fieldSelected)">
                <mat-error *ngIf="this.group.controls.phone.hasError('required')">
                  Phone is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="this.group.controls.phone.hasError('pattern')">
                  Phone pattern is <strong>Invalid</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="isSubmit" fxLayout="column"fxLayoutAlign="space-evenly center">
              <h4 style="text-align: center;">Submitted:</h4>
            <mat-form-field>
                <input matInput placeholder="1. Name:" formControlName="name" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="2. Email:" formControlName="email" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="3. Phone:" formControlName="phone" [readonly]="true">
            </mat-form-field>
          </div>
    </form>
  </div>
  <div gdArea="footer">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%">
        <button mat-raised-button color="warn" [disabled]="this.group.invalid" (click)="onSubmitClick()">Submit</button>
        <button mat-raised-button (click)="onClearClick()">Clear</button>
    </div>
  </div>
</div>
